body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header-hero {
    /* background-color: #1F2937; */
    background: rgb(131,58,180);
    background: linear-gradient(22deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 60%, rgba(252,176,69,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
    padding: 70px 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    height: 300px;
}

.hero button {
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.hero-text {
    margin-right: 55px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.information h2 {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}

.panel {
    text-align: center;
    width: 170px;
    flex: 1;
}

.panel img {
    width: 125px;
    height: 125px;
    border-radius: 12px;
    border: 2px solid #b1b1b1;
}